.header {
  padding: 20px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}

.nav-link.active::after {
  background: #747bff;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 8px;
  max-width: 408px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: var(--white);
}

.form input {
  width: 272px;
  padding: 8px 16px;
  font-size: 16px;
  font-family: var(--primary-font);
  color: var(--primary-color);
  letter-spacing: var(--letter-spacing);
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 4px;
}

.form input:hover {
  border-color: #000;
}

.form input:focus {
  border-color: #4E75FF;
}

.form button,
.load-more-btn {
  height: 40px;
  /* margin-left: 8px; */
  padding: 10px 24px;
  font-family: var(--primary-font);
  font-size: 16px;
  letter-spacing: var(--letter-spacing);
  color: var(--white);
  background-color: var(--button-primary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
}

.form button:hover,
.load-more-btn:hover {
  background-color: var(--button-hover);
}